<div class="mb-container" ng-controller='menubarCtrl'>
  <div class="mb-section" ng-click="sections.open('/')">
    <div class="mb-icon">
      <i class="fa fa-home" aria-hidden="true"></i>
    </div>
    <div class="mb-name">Home</div>
  </div>
  <div class="mb-section" ng-click="sections.open('/category')">
    <div class="mb-icon">
      <i class="fa fa-car" aria-hidden="true"></i>
    </div>
    <div class="mb-name">Categories</div>
  </div>
  <div class="mb-section" ng-click="sections.open('/driver')">
    <div class="mb-icon">
      <i class="fa fa-users" aria-hidden="true"></i>
    </div>
    <div class="mb-name">Drivers</div>
  </div>
  <div class="mb-section" ng-click="sections.open('/result')">
    <div class="mb-icon">
      <i class="fa fa-flag-checkered" aria-hidden="true"></i>
    </div>
    <div class="mb-name">Results</div>
  </div>
</div>