* {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
   	letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
    outline:0;
    border:0;
}

body {
  background-color: #d4d4d4;
}

.dm-container {
	margin-top: 130px;
}

@media only screen and (max-width: 768px) {

	.dm-container {
		margin-top: 60px;
	}

}